body {
	background: url(../hexa_layer_1.png) repeat, linear-gradient(to bottom,  #dbca69 0%,#df7500 68%,#df7500 99%); 
	color: black;
	
}


/* ändra färg på navbar */
.navbar, .dropdown-menu {
	background-color: #8F3B1B;
}


/* navbar länk färg */
#navbar a {
	color: white;
}


/* 
1: ändra färg när man hovrar över länk, 
2: ändra färg när man har klickat på dropdownen 
*/
#navbar nav .navbar-nav .dropdown-menu a:hover, #navbar nav .navbar-nav .open .dropdown-toggle {
	color: black;
}


/* ändra färg på texten på länk av nuvarande sida */
#navbar .active a {
	color: black;
}


/* ändra färg på bakgrunden av nuvarande sida*/
#navbar nav .navbar-nav .dropdown-menu .active {
	background-color: #e7e7e7;
}


/* detta gömmer text */
#block-views-newest-articles-block .view-content {
	display: none;
}

.view-content .views-field-title {
	display: none;
}

.view-newest-articles {
display: none;
}
/* slut på göm text css */


/* gömmer promoted to frontpage */
.col-sm-9 .node-promoted , .col-sm-9 .text-center {
	display: none;
}


/* bild galleri tweaks */
.view-bild-galleri {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* ändra färg på galleri node bakgrund */
#colorbox {
	background: #df7500;
}

/* video galleri tweaks */
/*
#cboxContent {
	margin-bottom: 0px;
}

#cboxTitle {
	display: none;
}
*/

.view-video-galleri {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


/* bli biodlare tweaks */
#node-17 {
	background: none;
	border: none;
}

/* kontakta oss tweaks */
.karta {
	float: right;
}

.kontakt {
	float: left;
	width: 45%;
}


/* slideshow på framsidan */
.row .jumbotron {
	margin: 0;
	width: 870px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 2.5%;
}


/* bakgrund och rundade hörn */
.view-bli-biodlare-frontpage, .node, .kontakt, #node-17 .underrubrik1, #node-17 .underrubrik2, #node-17 .underrubrik3, #node-17 .underrubrik4, #node-17 .underrubrik5, #node-17 .underrubrik6, #node-17 .underrubrik7  {
	padding: 10px;
	background-color: #f5f5f5;
	border: 2px solid #f5f5f5;
	border-radius: 2px;
}


/* misc */
.node-frontpage-static {
	margin-top: 10px;
}

/* vad är detta? */
p {
	color: black;
}

#user-login-form ul {
	display: none;
}

#node-12, #node-11, #node-185 {
	display: none;
}

.view-bli-biodlare-frontpage {
	margin-top: 1%;
	padding-top: 0px;
}

.main-container .row {
	margin-top: 1%;
}

.region-sidebar-first well {
	box-shadow: 5px 5px 5px black;
}