body {
	
}
.navbar-brand img{
	position:relative;
	top:-15px;
	padding:5px;
	background-color:white;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius:50% 50% 50% 50%;
	z-index:30;
	
}
{
.navbar-default {
	background-color: #fff;
	border-color: #302f2c;
	padding:0px;
}
.navbar-default .navbar-brand {
	color: #29eded;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ecdbff;
}
.navbar-default .navbar-text {
	color: #29eded;
}
.navbar-default .navbar-nav > li > a {
	color: #29eded;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ecdbff;
	background-color: #302f2c;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ecdbff;
	background-color: #302f2c;
}
.navbar-default .navbar-toggle {
	border-color: #302f2c;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #302f2c;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #29eded;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #29eded;
}
.navbar-default .navbar-link {
	color: #29eded;
}
.navbar-default .navbar-link:hover {
	color: #ecdbff;
}
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #29eded;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecdbff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecdbff;
		background-color: #302f2c;
	}
}
